

<div class="d-flex  justify-content-between align-items-center">
    <h1>News</h1>
   <a class="btn btn-success" type="btn" href="/news/create">Add</a>
</div>
<div class="row mb-2 d-flex align-items-center justify-content-between">
    <div class="col-md-6 ">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-6 p-4">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a type="btn" href="#" class="stretched-link btn btn-primary">Batafsil</a>
        </div>
        <div class="col-6 p-0" >
                <img  style="object-fit:cover; padding:0; margin:0; width:100%; height:100%" src="/images/work1.jpg"/>
        </div>
      </div>
    </div>
   <div class="col-md-6 ">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-6 p-4">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a type="btn" href="#" class="stretched-link btn btn-primary">Batafsil</a>
        </div>
        <div class="col-6 p-0" >
                <img  style="object-fit:cover; padding:0; margin:0; width:100%; height:100%" src="/images/work1.jpg"/>
        </div>
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-6 p-4">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a type="btn" href="#" class="stretched-link btn btn-primary">Batafsil</a>
        </div>
        <div class="col-6 p-0" >
                <img  style="object-fit:cover; padding:0; margin:0; width:100%; height:100%" src="/images/work1.jpg"/>
        </div>
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-6 p-4">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a type="btn" href="#" class="stretched-link btn btn-primary">Batafsil</a>
        </div>
        <div class="col-6 p-0" >
                <img  style="object-fit:cover; padding:0; margin:0; width:100%; height:100%" src="/images/work1.jpg"/>
        </div>
      </div>
    </div>
  </div>

